@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-page="/Reservar/Index">Calcular total da reserva(exercicio 3)</a><br />
    <a asp-page="/Create/CreateCidade">Criar Cidade(exercicio 5)</a><br />
    <a asp-page="/Create/CreateCliente">Criar Cliente(exercicio 6)</a><br />
    <a asp-page="/ViewNotes">Criar e salvar mensagens(exercicio 8)</a><br />
</div>
